* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.background-container {
    background-image: url("../../assets/images/shop-background.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-box {
    background: gold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
}

.items {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr)  repeat(2, 14.2vw);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    position: relative;
    gap: 1vw;
}

.featured {
    width: 19vw;
    grid-row: span 2;
    aspect-ratio: 10 / 15.6;
    background-color: aquamarine;
}

.daily {
    width: 14.2vw;
    aspect-ratio: 1;
}

