@font-face {
    font-family: 'fortnite-font';
    src: url('../../assets/fonts/fortnite-font.woff2') format('woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.background-container {
    background-image: url("../../assets/images/shop-background.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    border: solid;
    background: gold center no-repeat;
    background-size: cover;
}


.items {
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr)  repeat(2, 14.2vw);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    position: relative;
    gap: 1vw;
}

.featured {
    width: 19vw;
    grid-row: span 2;
    aspect-ratio: 10 / 15.6;
}

.daily {
    width: 14.2vw;
    aspect-ratio: 1;
}

.item-info {
    font-size: 1.8vw;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(5px);
    padding-top: 3%;
}


.item-name {
    font-family: 'fortnite-font', 'Roboto', sans-serif;
}

.item-price {
    background-color: #010520;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.daily .item-info {
    font-size: 1.4vw;
}

.item-type {
    font-size: 1vw;
    padding-bottom: 2%;
}